<%= render partial: 'shared/nav' %>

<h1 class="sub-name col s6"><%= @subreddit.name %></h1>
<div class="row">

<div class="side-bar col s3 ">
  <ul class= "collection with-header">
    <li class="collection-header deep-orange lighten-2">Rules</li>
    <% @rules.each do |rule| %>
      <li class="collection-item amber lighten-3"><%= rule.description %></li>
    <% end %>
  </ul>
</div >


  <div class="col s9">
    <table class="bordered" id="post-list">
      <% @hot_posts.each do |post| %>
        <tr>
          <td class="post">
            <a href="<%= post.url %>" class="post-link" ><%= post.title %><span class="badge ups left white-text"><%= post.ups %></span></a>
          </td>
          <td class="comment-column">
            <%= link_to "Comments", post_path({post_title: post.title, post_url: post.url, post_id: post.id, post_ups: post.ups, sub_name: @subreddit.name}), class: "comment-link"%>
          </td>
        </tr>
      <% end %>
    </div>
  </table>
</div>
