<%= render partial: 'shared/nav' %>

<div class="row">
  <div class="col s2">

  </div>

  <ul class="collection with-header col s8">
    <li class="collection-header" id="comment-header"><h5><%= link_to @post.title, @post.url , class: "comment-post-link"%></h5></li>
    <li><%= link_to "<<< Back to subreddit", subreddit_path({sub: @post.sub_name}), class: "white-text" %></li>
    <li class="white-text" id="comm">comments</li>
    <% @comments.each do |comment| %>
    <div class="row">

      <%= get_comment_trie(comment) %>
    </div>
    <% end %>
  </ul>

</div>
<div class="col s2">

</div>

<div class="container">
  <%= link_to "<<< Back to subreddit", subreddit_path({sub: @post.sub_name}) %>
</div>
